* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

section {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
}

section .colour {
  position: absolute;
  filter: blur(150px);
}

section .colour:nth-child(1) {
  top: -350px;
  width: 600px;
  height: 600px;
  background: #332929;
}

section .colour:nth-child(2) {
  left: 100px;
  width: 500px;
  height: 500px;
  bottom: -150px;
  background: #fffdfd;
}

section .colour:nth-child(3) {
  right: 100px;
  bottom: 50px;
  width: 300px;
  height: 300px;
  background: #ffffff;
}




.container {
  width: 400px;
  display: flex;
  min-height: 400px;
  position: relative;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  
  background-color: #ccc;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form {
  width: 100%;
  height: 100%;
  padding: 40px;
  position: relative;
  color: black !important ;
}

.form h2 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.form h2::before {
  left: 0;
  width: 80px;
  height: 4px;
  content: "";
  bottom: -10px;
  background: #fff;
  position: absolute;
}

.form .input__box {
  width: 100%;
  margin-top: 20px;
  
}

.form .input__box input {
  width: 100%;
  color: rgb(0, 0, 0)f;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form::placeholder {
  color: #fff;
}

.form .input__box input[type="submit"] {
  color: #666;
  cursor: pointer;
  background: #fff;
  margin-left: 25%;
  max-width: 120px;
  font-weight: 600;
  margin-bottom: 20px;
}
input::placeholder{
  color:white;
}
.forget {
  color: rgb(0, 0, 0);
  margin-top: 5px;
}

.forget a {
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-decoration: none;
}

.group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .group .label {
    margin-top: 8px;
    margin-left: 8px;
    position: absolute;
    transition: all 0.5s ease;
  }
  .group .input {
    width: 270px;
    height: 40px;
    background-color: #ececec;
    border: solid 1px #ececec;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
    margin-bottom: 2rem;
  }
  .group .input:focus ~ label, .group .input:valid ~ label {
    margin-top: -10px;
    padding: 0 2px;
    background: white;
    transition: all 0.3s ease;
  }
  .group .input:focus, .group .input:valid {
    background: white;
    border: solid 1px black;
    transition: all 0.5s ease;
  }

  @media only screen and (max-width:768px) and (min-width:200px)
{
  .container {
    width: 100vw;
    display: flex;
    min-height: 400px;
    position: relative;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    
    background-color: #ccc;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}